/* ADAM PATRICK */

/* * {
    border: solid 1px red;
} */

html{
    font-size: 16px;
    font-family: "AvenirNext",Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: linear-gradient(#db1ad1,#ff6600);
    background-repeat: no-repeat;
}

body {
    padding-bottom: 150px;
}

/* navbar */

a {
	text-decoration: none;
}

h1 {
    text-align: center;
}

.nav:hover {
    background: linear-gradient(#000000, #3e4144);
}

.current_page_item {
    background: linear-gradient(#000000, #3e4144);
}

#navbar-wrapper {
    margin: 0;
}

#navbar {
    background: linear-gradient(#3e4144, #000000);
    height: 60px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

#navbar ul {
    list-style-type: none;
    line-height: normal;
    margin: 0px;
    padding-top: 20px;
}

#navbar li {
    display: inline;
    padding: 20px;
}

#navbar a{
    color: white;
}

/*joke*/

.joke-wrapper {
    background-color: azure;
    border: black, 2px, solid;
    width: 450px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 40px; 
    border: black 2px solid;
}

.generateJoke {
    height: 60px;
    width: 400px;
    background: linear-gradient(#d60e0e, #6d0707);
    margin-top: 40px;
    color: white;
    font-size: 40px;
}

.joke {
    font-size: 20px;
}